<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: { brand: "#0B4C73" }  
                }
            }   
        }
    </script>
    <title>Vuelos</title>
</head>
<body>
    <div id="header"></div>
    <script src="flight.js"></script>
</body>
</html>